.card {
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-content {
    padding: 50px;
    border-radius: 0 0 2px 2px;
    height: 1000px;
}

.center-align {
    text-align: center;
}

.profile .avatar-img {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 10px #b0b0b0;
}

.profile .author .post-statis {
    margin: 0.5rem 0 1.4rem 0;
}

.post-statis {
    text-align: center;
}

.post-statis .statis {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    text-align: center;
    letter-spacing: .03rem;
}

.post-statis .statis .count, .info-title {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
}

.post-statis .statis .name {
    font-size: 0.9rem;
    color: #777;
}

.post-statis .statis .count a {
    color: #42b983;
}

.profile .author .title {
    margin-bottom: 2.1rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #3C4858;
}

.title, .my-skills .title {
    font-size: 2rem;
    margin-bottom: 2.25rem;
}

.other-skills .sub-title {
    font-size: 1.5rem;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my-skills .skillbar {
    position: relative;
    display: block;
    max-width: 360px;
    margin: 15px auto;
    background: #eee;
    height: 30px;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-size: 0.9rem;
    color: #ffffff;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
}

.skillbar .skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
}

.skillbar .skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
}

.chip-container .tag-chips {
    margin: 1rem auto 0.5rem;
    max-width: 850px;
    text-align: center;
}

.chip-container .chip {
    margin: 10px 10px;
    padding: 0 16px;
    display: inline-block;
    height: 38px;
    min-width: 80px;
    line-height: 39px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
}

.other-skills .chip {
    background-color: #fff;
    border: 1px solid #eee;
}